<div *ngIf="tags">
  <table *ngIf="tags.length>0" mat-table [dataSource]="tags | slice:start:end" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.regDate}}</td>
      </ng-container>
    

      <!-- Weight Column -->
      <ng-container matColumnDef="link">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"> <button (click)="gotoTagById(element)" mat-icon-button> <mat-icon>call_made</mat-icon></button> </td>
        </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    
<mat-paginator *ngIf="tags.length>0" [length]="tags.length"
              [pageSize]="10"
              [pageSizeOptions]="[1, 5, 10, 25, 100]"
              (page)="setPage($event)">
</mat-paginator>
</div>