<app-header [title]="'Georide'" [back]="true" [subtitle]="nikname"></app-header>


<mat-accordion>
      <mat-expansion-panel (opened)="getTags()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tags
          </mat-panel-title>
          <mat-panel-description>
            Select tag to start a ride
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <span *ngFor="let tag of tags">
            <button mat-stroked-button [disabled]="tagid === tag.id" (click)="select(tag.id)">{{tag.id}}</button>&nbsp;
        </span>
    
      </mat-expansion-panel>
  </mat-accordion>

  <agm-map *ngIf="ride; else loading" [(latitude)]="loc.lat" [(longitude)]="loc.lng" [(zoom)]="loc.zoom" [disableDefaultUI]="true" [zoomControl]="true" >
      <agm-marker iconUrl="../assets/icons8-bicycle-48.png" [(latitude)]="loc.marker.lat" [(longitude)]="loc.marker.lng" [markerDraggable]="loc.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
      <agm-marker [label]="startLoc.marker.label" [(latitude)]="startLoc.marker.lat" [(longitude)]="startLoc.marker.lng" [markerDraggable]="startLoc.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
      <agm-marker [label]="eePointLocA.marker.label" [(latitude)]="eePointLocA.marker.lat" [(longitude)]="eePointLocA.marker.lng" [markerDraggable]="eePointLocA.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
      <agm-marker [label]="eePointLocB.marker.label" [(latitude)]="eePointLocB.marker.lat" [(longitude)]="eePointLocB.marker.lng" [markerDraggable]="eePointLocB.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
      <agm-marker [label]="eePointLocC.marker.label" [(latitude)]="eePointLocC.marker.lat" [(longitude)]="eePointLocC.marker.lng" [markerDraggable]="eePointLocC.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
      <agm-circle *ngIf="true" [latitude]="startLoc.marker.lat" [longitude]="startLoc.marker.lng" [(radius)]="radius" [fillColor]="'blue'" [circleDraggable]="true" [editable]="true"></agm-circle>
    </agm-map>

  <mat-grid-list *ngIf="ride; else loading" cols="3" rowHeight="3em">
    <mat-grid-tile [colspan]="3">
      <h3>Current Ride</h3>
    </mat-grid-tile>
  
    <mat-grid-tile>
      {{ride.start|date:"dd-MM-yyyy"}}
    </mat-grid-tile>
  
    <mat-grid-tile>
      {{ride.start|date:"HH:mm:ss"}}
    </mat-grid-tile>
  
    <mat-grid-tile *ngIf="!ride.finish">
      {{timestemp|date:"HH:mm:ss":"+00"}}
    </mat-grid-tile>

    <mat-grid-tile *ngIf="ride.finish">
        {{(ride.finish-ride.start)|date:"HH:mm:ss":"+00"}}
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3">
          {{geomsg}}
      </mat-grid-tile>

      <mat-grid-tile>
          U / E [C]
      </mat-grid-tile>

      <mat-grid-tile>
          {{geoupdatecount}}
      </mat-grid-tile>

      <mat-grid-tile>
          {{geoerrorcount}} [{{geoclearcount}}]
      </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list  *ngIf="rides; else loading" cols="3" rowHeight="3em">
      
      <mat-grid-tile  [rowspan] = "2" [colspan]="3">
        <button *ngIf="!ride" mat-stroked-button mat-raised-button color="primary" [disabled]="progress" (click)="startRide($event)">Start</button>
        <button *ngIf="ride" mat-stroked-button mat-raised-button color="warn" [disabled]="progress || !ride.open" (click)="finishRide($event)">End</button>
      </mat-grid-tile>
  </mat-grid-list>
  
  <div *ngIf="rides">
      <table *ngIf="rides.length>0" mat-table [dataSource]="rides | slice:start:end" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.start|date:"dd-MM-yyyy"}}</td>
            </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Start </th>
            <td mat-cell *matCellDef="let element"> {{element.start|date:"HH:mm:ss"}}</td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="finish">
            <th mat-header-cell *matHeaderCellDef> Finish </th>
            <td mat-cell *matCellDef="let element"> {{element.finish|date:"HH:mm:ss"}}</td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{(element.finish-element.start)|date:"HH:mm:ss":"+00"}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="link">
              <th mat-header-cell *matHeaderCellDef> Details </th>
              <td mat-cell *matCellDef="let element"> <button (click)="gotoRide(element.id)" mat-icon-button> <mat-icon>call_made</mat-icon></button> </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        
    <mat-paginator *ngIf="rides.length>0" [length]="rides.length"
                  [pageSize]="10"
                  [pageSizeOptions]="[1, 5, 10, 25, 100]"
                  (page)="setPage($event)">
    </mat-paginator>
  </div>

