<div fxLayout="column">
  <div fxLayout="raw" 
         fxLayout.lt-md="column" 
         fxLayoutAlign="space-around center" 
         id="intro-section" 
         class = "home-intro-section"
         [ngClass.md]="['home-intro-section']" 
         [ngClass.sm]="['home-intro-section-small']"
         [ngClass.xs]="['home-intro-section-small']">
         <div fxHide.lt-md></div>
         <div fxLayout="column" fxLayoutAlign="space-around center">
              <h1>GIRO d'ISEO</h1>
              <button [routerLink]="['/reg']" class="get-started">New Tag</button><br><br>
              <button [routerLink]="['/ride']" class="get-started">New Ride</button><br><br>
              <button [routerLink]="['/dashboard']" class="get-started">Dashboard</button>
         </div>
         <div></div>
  </div>
  <div id="footer-section" fxLayout="raw" fxLayoutAlign="space-around center" class="home-footer-section">
         <div class="footer-info">Giro d'Iseo Web App</div>
         <div class="footer-info">{{version}}</div>
         
         <div></div>
         <div class="footer-info">© Copyright REGA Risk Sharing 2019</div>
  </div>
</div>
