<section class="BG">
    <img src="../../assets/bike.png"
    srcset="../../assets/bike@2x.png 2x,
           ../../assets/bike@3x.png 3x"
    class="Bike">
    <!-- png -->

    <img src="../../assets/group-6.png"
    srcset="../../assets/group-6@2x.png 2x,
           ../../assets/group-6@3x.png 3x"
    class="Group-6">

    <div class="Actions">
      <h1 class="Girodiseo">Giro d'Iseo</h1>
      <p class="Great-idea-for-a-loc">Ride around the lake, earning points and use them<br>
     to buy local goods and services</p>
     <button matRipple [matRippleColor]="'aqua'" [routerLink]="['/getstarted']" class="Rectangle-2-Copy">
      Get Started
      </button>
    </div>

    <div class="PR">
      <div class="PR-text"> FUN, WELLNESS AND SAVINGD <br><br>Gerat product for the local communuty</div>
      <img src="../../assets/bike-pr.png"
        srcset="../../assets/bike-pr@2x.png 2x,
               ../../assets/bike-pr@3x.png 3x"
        class="Bike_PR">
    </div>


</section>
  




