<br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Fun, Wellness, Savings</mat-card-title>
      <mat-card-subtitle>Ride around Iseo lake, earning points and use them to buy local goods and services with discounts.</mat-card-subtitle>
    </mat-card-header>
  
        <img  [routerLink]="['/getstarted']"mat-card-image src="../assets/girodiseo.jpg" alt="Get Started">

    <mat-card-content>
      <strong>Join the Giro d'Iseo to make the riding even more fun!</strong>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/getstarted']" color="warn">Get started</button>
      <button mat-raised-button [routerLink]="['/dashboard']" color="primary">See results</button>
    </mat-card-actions>
  </mat-card>
  




