<div fxLayout="column">
       <div fxLayout="raw" 
              fxLayout.lt-md="column" 
              fxLayoutAlign="space-around center" 
              id="intro-section" 
              class = "home-intro-section"
              [ngClass.md]="['home-intro-section']" 
              [ngClass.sm]="['home-intro-section-small']"
              [ngClass.xs]="['home-intro-section-small']">
              <div fxHide.lt-md></div>
              <div><img [routerLink]="['/getstarted']" src="../../assets/group-6.png" src.xs="../../assets/group-6-small.png"></div>
              <div fxLayout="column" fxLayoutAlign.lt-md="space-around center">
                     <h1>GIRO d'ISEO</h1>
                     
                     <h3><span fxFlex.lt-md="30px" fxFlex="0"></span>Ride around Iseo lake, earning points<br>
                     and use them to buy local goods and services</h3>
              
                     
                     <button [routerLink]="['/getstarted']" class="get-started">Get Started</button>
              </div>
              <div></div>
       </div>
       <div id="footer-section" fxLayout="raw" fxLayoutAlign="space-around center" class="home-footer-section">
              <div class="footer-info">GIRO d'ISEO Web App</div>
              <div class="footer-info">{{version}}</div>
              
              <div></div>
              <div class="footer-info">© Copyright REGA Risk Sharing 2019</div>
       </div>
</div>

  




