<app-header [title]="'Tag'" [back]="true"></app-header>
<mat-grid-list *ngIf="tags; else loading;"cols="3" rowHeight="3em">
    
    

    <mat-grid-tile  *ngIf="tags.length > 0" [colspan]="3">
        <h3>{{tags[0].id}}</h3>
      </mat-grid-tile>

    <mat-grid-tile *ngIf="tags.length > 0">
        Registered:
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" *ngIf="tags.length > 0">
        {{tags[0].regDate}}
    </mat-grid-tile>

    <mat-grid-tile *ngIf="tags.length > 0 && tags[0].reg">
        Mobile:
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" *ngIf="tags.length > 0 && tags[0].reg">
        {{tags[0].reg.mobile}}
    </mat-grid-tile>

    <mat-grid-tile *ngIf="tags.length > 0 && tags[0].reg">
        SMS code:
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" *ngIf="tags.length > 0 && tags[0].reg">
        {{tags[0].reg.sms}}
    </mat-grid-tile>

   

    <mat-grid-tile [colspan]="3" *ngIf="tags.length > 0 && tags[0].bike">
        <button  mat-raised-button (click)="gotoBike()" mat-button>&nbsp;Bycicle&nbsp;</button>
    </mat-grid-tile>

    
  <mat-grid-tile [colspan]="3" *ngIf="tags.length > 0 && tags[0].payment">
      <button  mat-raised-button (click)="gotoPayment()" mat-button>Payment</button>
  </mat-grid-tile>
    
</mat-grid-list>

<div *ngIf="rides">
    <table *ngIf="rides.length>0" mat-table [dataSource]="rides | slice:start:end" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.start|date:"dd-MM-yyyy"}}</td>
          </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> Start </th>
          <td mat-cell *matCellDef="let element"> {{element.start|date:"HH:mm:ss"}}</td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="finish">
          <th mat-header-cell *matHeaderCellDef> Finish </th>
          <td mat-cell *matCellDef="let element"> {{element.finish|date:"HH:mm:ss"}}</td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let element"> {{(element.finish-element.start)|date:"HH:mm:ss":"+00"}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element"> <button (click)="gotoRide(element.id)" mat-icon-button> <mat-icon>call_made</mat-icon></button> </td>
          </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      
  <mat-paginator *ngIf="rides.length>0" [length]="rides.length"
                [pageSize]="10"
                [pageSizeOptions]="[1, 5, 10, 25, 100]"
                (page)="setPage($event)">
  </mat-paginator>
</div>