<mat-grid-list cols="3" rowHeight="3em">
    <mat-grid-tile [colspan]="3">
      <h3>User login</h3>
    </mat-grid-tile>
    
</mat-grid-list>

<form class="example-form">

  <mat-grid-list cols="3" rowHeight="3em">

    <mat-grid-tile [rowspan]="3" [colspan]="3">
      <mat-form-field>
        <input matInput name="mobile" type="text" placeholder="Enter mobile" required minlenght="7" [(ngModel)]="mobile">
        <mat-hint align="start">Example: <strong>+16505551234</strong> </mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3">
      {{msg}}
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="primary" [disabled]="!mobile || progress" (click)="login($event)">Login</button>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="warn" [disabled]="!mobile || progress" (click)="clear()">Clear</button>
    </mat-grid-tile>
  
    <mat-grid-tile [colspan]="3">
    </mat-grid-tile>

  </mat-grid-list>
</form>

<div id="recaptcha-container"></div>
