<app-header *ngIf="!scanning" [back]="true" [title]="'Use points'"></app-header>

<mat-grid-list *ngIf="!scanning" cols="3" rowHeight="3em">
    
    

    <mat-grid-tile [colspan]="3"><h4>From</h4></mat-grid-tile>
    <mat-grid-tile [colspan]="3">{{account}}</mat-grid-tile>
    <mat-grid-tile [colspan]="3"><h4>To</h4></mat-grid-tile>
    <mat-grid-tile *ngIf="dest" [colspan]="3">{{dest}}</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="accent" [disabled]="process" (click)="scan()">Scan QR</button>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile [colspan]="3"><h4>Number</h4></mat-grid-tile>
    <mat-grid-tile [colspan]="3">{{value}}</mat-grid-tile>
    <mat-grid-tile [rowspan]="2" [colspan]="3">
      <mat-slider [min]="0" [max]="points" thumbLabel="1" showTicks="1" step="1" [(ngModel)]="value"></mat-slider>
    </mat-grid-tile>
    
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button color="accent" [disabled]="!value || process || invalid" (click)="confirm()">Confirm</button>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  
</mat-grid-list>

<mat-grid-list *ngIf="scanning" cols="3" rowHeight="3em">
    
    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile><h3>Scanner</h3></mat-grid-tile>

    <mat-grid-tile>
      <button (click)="close()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-grid-tile>
  
</mat-grid-list>

<zxing-scanner [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'CODABAR', 'UPC_A', 'UPC_E', 'UPC_EAN_EXTENSION', 'CODE_39', 'ITF']" *ngIf="scanning" #scanner (camerasFound)="camerasFoundHandler($event)" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>