<app-header [back]="true" [title]="'Profile'"></app-header>
<mat-grid-list cols="3" rowHeight="3em">

  <mat-grid-tile *ngIf="name()">Name</mat-grid-tile>

  <mat-grid-tile *ngIf="name()"></mat-grid-tile>

  <mat-grid-tile *ngIf="name()">{{name()}}</mat-grid-tile>

  <mat-grid-tile *ngIf="phone()">Mobile</mat-grid-tile>

  <mat-grid-tile *ngIf="phone()"></mat-grid-tile>

  <mat-grid-tile *ngIf="phone()">{{phone()}}</mat-grid-tile>

  <mat-grid-tile *ngIf="rider">Nikname</mat-grid-tile>
  
  <mat-grid-tile *ngIf="rider"></mat-grid-tile>
  
  <mat-grid-tile *ngIf="rider">{{rider.nikname}}</mat-grid-tile>
</mat-grid-list>

<mat-accordion>
    <mat-expansion-panel (opened)="getTags()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tags
        </mat-panel-title>
        <mat-panel-description>
          Open to see your tags
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <app-user-tags [tags]="tags"></app-user-tags>
  
    </mat-expansion-panel>
</mat-accordion>

<mat-divider *ngIf="wallet"></mat-divider>
<mat-grid-list cols="3" rowHeight="3em">
  
  <mat-grid-tile [colspan]="3" *ngIf="wallet"><h3>Wallet</h3></mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">Account</mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">
      <button (click)="qrcode()" mat-icon-button>
          <mat-icon>view_agenda</mat-icon>
      </button>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">
    <button mat-stroked-button ngxClipboard [cbContent]="account">{{account.slice(0,6)+'...'+account.slice(36,42)}}</button>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">Balance</mat-grid-tile>
    
  <mat-grid-tile *ngIf="wallet"></mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">{{balance}} Ether</mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">Points</mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">{{points}}</mat-grid-tile>

  <mat-grid-tile *ngIf="wallet">{{token}} Ether</mat-grid-tile>

</mat-grid-list>

<mat-accordion *ngIf="wallet"> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Transactions
        </mat-panel-title>
        <mat-panel-description>
          Open to see all
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-user-tnx [transactions]="transactions | async"></app-user-tnx>
  
  
    </mat-expansion-panel>
</mat-accordion>
<br>

<mat-grid-list cols="3" rowHeight="3em">
  
  <mat-grid-tile [colspan]="3" *ngIf="orders"><h3>Shopping</h3></mat-grid-tile>

  <mat-grid-tile *ngIf="orders">Order #</mat-grid-tile>
    
  <mat-grid-tile *ngIf="orders"></mat-grid-tile>

  <mat-grid-tile *ngIf="orders">{{orders.length}}</mat-grid-tile>

</mat-grid-list>

<mat-accordion *ngIf="orders"> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Orders
        </mat-panel-title>
        <mat-panel-description>
          Open to see all
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-user-orders [orders]="orders"></app-user-orders>
  
  
    </mat-expansion-panel>
</mat-accordion>
<br>


  
<mat-grid-list cols="3" rowHeight="3em">

  <mat-grid-tile [colspan]="3">
  </mat-grid-tile>

  <mat-grid-tile *ngIf="authenticated()">
    <button mat-raised-button color="warn" [disabled]="!authenticated()" (click)="logout()">Logout</button>
  </mat-grid-tile>
  
  <mat-grid-tile *ngIf="authenticated()">
      <button mat-raised-button color="accent" [disabled]="!authenticated() || !wallet || !havePoints()" (click)="use()">Use points</button>
  </mat-grid-tile>
  
  <mat-grid-tile *ngIf="authenticated()">
    <button mat-raised-button color="primary" [disabled]="!authenticated()" (click)="gotoUpdate()">Update</button>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="!authenticated()" [colspan]="3">
    No user logged in
  </mat-grid-tile>

</mat-grid-list>


  